body{
  background-color: #282c34;
}
.Home {
  text-align: center;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #20232a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: antiquewhite;
  font-size: large;
}