body{
  background-color: #282c34;
}
.Home {
  text-align: center;
  color: white;
}
.navbar {
  display:flex;
  justify-content: right;
  background-color: #20232a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-left: 5%;
}
.navbar a:hover {
  color: antiquewhite;
  font-size: large;
}